

@mixin weather-input($padding,$border,$font-size){
width: 100%;
  outline: none;
  padding:$padding;
  font-size: $font-size;
  border:$border;
  border-radius: 4px;
  //margin: 10px 0 20px 0;

}

@mixin weather-color($color, $Bcolor){
  background-color: $Bcolor;
  color: $color;
}


@mixin weather-position($position,$right,$top){
  position: $position;
  right: $right;
  top: $top;
}
//  position: relative;
//  right: -300px;
//  top: -150px;