@media (max-width: 1400px) {
  .weather-data {
    .current-weather {
      padding: 20px;
    }
    .weather-cards{
      flex-wrap: wrap;
      .card{
        width: calc(100% / 4 - 15px);
      }
    }
  }
}

@media(max-width: 1200px) {

.card{
  width:calc(100% / 3 - 15px);
}
}

@media (max-width: 950px) {
  .weather-input{
    width: 450px;
  }
  .card {
    width:calc(100% / 2 - 10px);
  }
}
@media (max-width: 750px) {
  .container{
    flex-wrap: wrap;
    padding: 15px;
  }

  .weather-input{
    width: 100%;
  }

}

